@import url('https://fonts.googleapis.com/css?family=Roboto:300');

#efectos{
	text-align: center;
	color: #555;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 32px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: translate3d(0,0,0);
	background-image: url(../imagenes/css48x48.png);
	background-repeat: no-repeat;
	padding-left: 48px;
	line-height:45px;
}
#efectoshtml{
	text-align: center;
	color: #555;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 32px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: translate3d(0,0,0);
	background-image: url(../imagenes/html48x48.png);
	background-repeat: no-repeat;
	padding-left: 48px;
	line-height:45px;
}

#efectonuevo {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

#efectonuevo:first-of-type {   
  animation: showup 7s infinite;
}

#efectonuevo:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

#efectonuevodos:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


p {
  font-size:12px;
  color:#999;
  margin-top:5px;
}
#imagenefecto
{
	float:left;}
